<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Productos</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts.js"></script>
  </head>
  <body>
    <div class="header">      
      <button onclick="logOut()">Log Out</button> 
    </div>
    <h1>Productos</h1>
    <div class="forms">        
      <div class="verProductos">
        <% for (let i = 0; i < productsList.length;  i++ ) { %>
            <div class="productCard">
                <img src="<%= productsList[i].image %>" alt="<%= productsList[i].title %>" />
                <h2><%= productsList[i].title %></h2>
                <p><%= productsList[i].description %></p>
                <p><%= productsList[i].price %></p>      
                <span><%= productsList[i].stock %></span>          
            </div>                        
            <% } %>      
      </div>
    </div>
    <h1>Chat App</h1>
    <div class="chat">     
        <form id="mensajes" onsubmit="return addMessage(this)" >
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="pepe@argento.com" required />
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" name="nombre" required />
          <label for="apellido">Apellido</label>
          <input type="text" id="apellido" name="apellido"  required />           
          <label for="texto">Mensaje</label>
          <input type="text" id="mensaje" name="mensaje" placeholder="Mensajes aquí" />
          <button type="submit">Enviar</button>
        </form>
        <div id="mensajesView">
          Mensajes
        </div>
    </div>
  </body>
</html>